.header-fixed {
    background-color: #9dc8f3;
    box-shadow: 0 1px 1px #ccc;
    padding: 20px 40px;
    height: 70px;
    color: #ffffff;
    box-sizing: border-box;
    top: -100px;
    -webkit-transition: top 0.3s;
    transition: top 0.3s;
}

.header-fixed .header-limiter {
    max-width: 1200px;
    text-align: center;
    margin: 0 auto;
}

.header-fixed-placeholder {
    height: 80px;
    display: none;
}

.header-fixed .header-limiter h1 {
    float: left;
    font: normal 28px Cookie, Arial, Helvetica, sans-serif;
    line-height: 40px;
    margin: 0;
}

.header-fixed .header-limiter h1 span {
    color: #5383d3;
}


/* The navigation links */

.header-fixed .header-limiter a {
    color: #ffffff;
    text-decoration: none;
}

.header-fixed .header-limiter nav {
    font: 16px Arial, Helvetica, sans-serif;
    line-height: 40px;
    float: right;
}

.header-fixed .header-limiter nav a {
    display: inline-block;
    padding: 0 5px;
    text-decoration: none;
    color: #ffffff;
    opacity: 0.9;
}

.header-fixed .header-limiter nav a:hover {
    opacity: 1;
}

.header-fixed .header-limiter nav a.selected {
    color: #608bd2;
    pointer-events: none;
    opacity: 1;
}


/* Fixed version of the header */

.header-right {
    float: right;
}

.header2 {
    overflow: hidden;
    background-color: #f1f1f1;
    padding: 20px 10px;
}

.header2 a {
    float: left;
    color: black;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
}

.header2 a.logo {
    font-size: 25px;
    font-weight: bold;
}

.header2 a:hover {
    background-color: #ddd;
    color: black;
}

.header2 a.active {
    background-color: dodgerblue;
    color: rgb(255, 255, 255);
}

body.fixed .header-fixed {
    padding: 10px 40px;
    height: 73px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}

body.fixed .header-fixed-placeholder {
    display: block;
}

body.fixed .header-fixed .header-limiter h1 {
    font-size: 24px;
    line-height: 30px;
}

body.fixed .header-fixed .header-limiter nav {
    line-height: 28px;
    font-size: 13px;
}


/* Making the header responsive */

@media all and (max-width: 600px) {
    .header-fixed {
        padding: 20px 0;
        height: 75px;
    }
    .header-fixed .header-limiter h1 {
        float: none;
        margin: -8px 0 10px;
        text-align: center;
        font-size: 24px;
        line-height: 1;
    }
    .header-fixed .header-limiter nav {
        line-height: 1;
        float: none;
    }
    .header-fixed .header-limiter nav a {
        font-size: 13px;
    }
    body.fixed .header-fixed {
        display: none;
    }
}

i {
    font-size: 18px;
}

.column3 {
    margin-left: 150px;
    position: relative;
    margin-top: 4px;
    width: 46%;
    float: left;
}

.content1 {
    padding: 2px 16px;
    height: 45px;
}

.content2 {
    padding: 2px 16px;
    height: 1400px;
}

.content2>h1 {
    color: rgba(255, 0, 0, 0.582);
}

.column3>.card>img {
    margin-left: 15px;
    width: 585px;
    height: 450px;
}

p {
    font-size: 9px;
}

.column4 {
    margin-left: 930px;
    position: fixed;
    margin-top: 100px;
    width: 15%;
    float: left;
}

.card2 {
    margin-left: 22px;
    width: 370px;
    height: 1000px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    -webkit-transition: left 2s;
    -moz-transition: left 2s;
    -o-transition: left 2s;
    transition: left 2s;
}

.column4>.card2>.row>a>img {
    width: 110px;
    height: 110px;
    margin-bottom: -88px;
}

.column4>.card2>.row>.content1>i {
    position: relative;
    margin-left: 100px;
    margin-top: -33px;
    float: left;
}

.row {
    margin-left: 3px;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

.column4>.card2>h1 {
    position: relative;
    margin-left: 115px;
    float: left;
}